[Desktop Entry]
Version=1.0
Type=Application
Name=kitty -1
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal (new window as child)
TryExec=kitty
Exec=kitty -1
Icon=kitty
Categories=System;TerminalEmulator;
X-TerminalArgExec=--
X-TerminalArgTitle=--title
X-TerminalArgAppId=--class
X-TerminalArgDir=--working-directory
X-TerminalArgHold=--hold
